.hero {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__video-container {
        width: 100%;
        height: 30vh;

        .hero__video {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__title-container {
        display: flex;
        justify-content: center;
        width: 90%;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid grey;
    }

    &__details-container {
        display: flex;

        width: 100%;
        justify-content: space-around;
        padding: 1rem 0;
        width: 90%;
        border-bottom: 1px solid grey;
    }

    &__description-container {
        margin: 1rem 0;
        width: 90%;
        
    }

    &__text {
        padding-bottom: 1rem;
    }
}